.header {
	text-align: center;

}

.mainTitle {
	font-size: var(--font-size-h1);
	strong {
		font-weight: var(--font-weight-700);
		color: var(--clr-neutral-400);
	}
}

.secondaryTitle {
	margin: 0.5em 0 2em;
	font-size: var(--font-size-h2);
	font-weight: var(--font-weight-600);
	color: var(--clr-neutral-400);
}