.footer {
	margin-top: auto;
	padding: 1em;
	font-size: 1.3rem;
	font-weight: var(--font-weight-300);
	text-align: center;

}

.frontEndMentor {
	color: var(--clr-primary-400);
	transition: color var(--animation-time) ease;
	&:hover {
		color: var(--clr-secondary-400);
	}
}