@use '../../../assets/styles/helpers/_mixins.scss' as *;

.main {
	display: grid;
	place-items: center;
	width: min(90%, 35em);
	margin: auto;
	padding: 5em 0 7em;
	@include extra-large-screen {
		padding: 5em 0 3em;
	}
}
