.socialIcons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1em;
	padding-block: 2em;
}

.socialIconLink {
	--iconSize: 2.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	width: var(--iconSize);
	height: var(--iconSize);
	padding: 0.65em;
	border: 1px solid var(--clr-secondary-300);
	border-radius: var(--border-radius);
	transition: background-color var(--animation-time) ease-in-out,
		border var(--animation-time) ease-in-out;
	&:hover {
		background-color: var(--clr-primary-400);
		border: 1px solid var(--clr-secondary-300);
		svg {
			fill: var(--clr-secondary-100);
		}
	}
}

.facebookLink {
	padding: 0.75em;
}

.icon {
	fill: var(--clr-primary-400);
	transition: fill var(--animation-time) ease-in-out;
}
